html {
  width: 100%;
  background-color: rgb(240, 240, 240);
  font-family: 'Noto Serif', serif;
  font-size: 16px;
}

body {
  line-height: 1.75;
}

h1, h2, h3, h4 {
  font-family: 'Patua One', sans-serif;
}

h1 {
  font-size: 3rem;
  line-height: normal;
}

h2 {
  font-size: 2rem;
}

h3 h4 {
  font-size: 1.5rem;
}

h4 {
  font-variant: small-caps;
}

a:hover {
  color: #56B0FF;
  transition: color 250ms linear 10ms;
}


.header {
  background-color: rgb(255, 255, 255);
  width: 95%;
  height: 64px;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.logo h3 {
  font-size: 2rem;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
  margin: 0.5rem;
}

.mobile-menu {
  display: none;
}

/* Mobile devices */
@media only screen and (max-width: 600px) {
  


}


.jumbotron {
  background-color: rgb(220, 220, 220);
  padding: 2rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.slogan {
  max-width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slogan p {
  margin: 2rem 0;
}

.slogan a {
  background-color: rgb(200, 200, 200);
  padding: 0.75rem;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  width: 90%;
  text-align: center;
}

.slogan a:hover {
  color: rgb(220, 220, 220);
  background-color: #56B0FF;
  transition: color 250ms linear 10ms,
              background-color 250ms linear 10ms;
}


.left-container {
  width: 60%;
  margin: 1.5rem;
}

.right-container {
  width: 40%;
  margin: 0.5rem;
}

.left-container img {
  width: 100%;
}

.information {
  background-color: inherit;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.small-container {
  padding: 16px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.small-image {
  max-width: 35%;
  height: auto;
  overflow: hidden;
}

.small-image img {
  width: 100%;
  height: auto;
  display: block;
}

.small-container-text {
  max-width: 65%;
  padding: 1rem;
  text-align: left;
}

.course-holder {
  background-color: rgb(220, 220, 220);
  padding: 2rem 4.5rem;
  text-align: center;
}

.all-courses {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;

}

.course {
  background-color: rgb(255, 255, 255);
  width: 25%;
  text-align: left;
  margin: 1rem;
  padding: 1rem;
}

.course img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.thesis {
  padding: 2rem 1rem;
  text-align: center;
  background-color: inherit;
}

.thesis-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.thesis-video {
  height: auto;
  max-width: 100%;
  display: block;
}

.thesis-video-text {
  text-align: left;
  padding: 2rem;
  max-width: 80%;
}

.footer {
  background-color: rgb(220, 220, 220);
  border-top: rgb(200, 200, 200) solid 1px;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
